* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin-top: 12rem;
}

ul {
  list-style: none;
  line-height: 3rem;
  font-size: 1.8rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  color: var(--primary-color);
  line-height: 6rem;
}

.secondary-title {
  font-size: 4rem;
  font-weight: 900;
  color: salmon;
  margin-bottom: 1rem;
}

.tertiary-title {
  margin-bottom: 1rem;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 4.5rem;
  color: salmon;
}

p,
.p {

  line-height: 3rem;
  font-size: 1.8rem;
  font-weight: 600;

}

p:not(:last-of-type),
.p:not(:last-of-type) {
  margin-bottom: 2rem;
}
