* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

body {
  background-color: rgba(250, 128, 114, 0.122);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

ul {
  list-style: none;
  line-height: 3rem;
  font-size: 1.8rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  color: var(--primary-color);
  line-height: 5.5rem;
  margin: 0 0 25px 0;
}

.secondary-title {
  font-size: 4rem;
  font-weight: 900;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.tertiary-title {
  margin-bottom: 1rem;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 4.5rem;
  color: var(--primary-color);
}

p,
.p {
  line-height: 3rem;
  font-size: 1.8rem;
  font-weight: 600;
}

p:not(:last-of-type),
.p:not(:last-of-type) {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 292px) {
  .secondary-title {
    font-size: 3rem;
    font-weight: 900;
    color: var(--primary-color);
    margin-bottom: 1rem;
  }
}
