.about {
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
  padding: 5rem 0 3rem 2rem;
  margin: 6rem 0 0 0;
  background-image: url("../../assets/ROSA.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.about .about__left {
  max-width: 40rem;
  flex: 1;
}

.about .about__left p {
  margin: 1rem 0 2rem;
}

.about .about__left ul {
  margin-left: -1.2rem;
}

.about .about__left ul li {
  display: inline-block;
}

.about .about__right {
  flex: 1;
  max-width: 65rem;

  margin: 1rem 0 2rem;
}

.about .about__right .tartiary-title {
  color: #d48c9b;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #7d99c8;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.habil {
  width: 50px;
}

@media only screen and (max-width: 1190px) {
  .about {
    padding: 4rem 5rem 0 5rem;
  }
}

@media only screen and (max-width: 1038px) {
  .about {
    flex-direction: column;
    align-items: center;
    padding-left: 6rem !important;
  }

  .about .about__left {
    max-width: 66rem;
    text-align: center;
  }

  .about .about__right {
    text-align: center;
  }
}


