.carrousel__promocao {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  height: 250px;
  margin: 4rem 0 3rem 0;
  padding: 30px;
  border-radius: 8px;
  overflow: hidden;
}

.carrousel__images {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  width: 100vw;
  height: 800px;
}

.carrousel__images img {
  width: 600px;
  height: 300px;
  margin-right: 3rem;
  object-fit: cover;
  transition: transform 1s ease;
  border: 3px solid #7d99c8;
  border-radius: 0.8rem;
}

.arrow-btn {
  padding: 5px 7px;
  margin: 0 3rem;
  background: salmon;
  font-size: 21px;
  font-weight: 900;
  color: black;
  border: 3px solid salmon;
  border-radius: 8px;
  box-shadow: 0 0 0 #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 0.4rem #dfd9d9;
  transition: transform 0.3s ease;
  box-shadow: 0.25rem 0.25rem #000;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 678px) {
  .carrousel__images img {
    width: 400px;
    height: 300px;
  }
}

@media only screen and (max-width: 646px) {
  .carrousel__images img {
    width: 350px;
    height: 250px;
  }
}

@media only screen and (max-width: 602px) {
  .carrousel__images img {
    width: 300px;
    height: 200px;
  }
}

@media only screen and (max-width: 542px) {
  .carrousel__promocao {
    margin: 4rem 0 3rem 0;
    padding: 0;
  }
}

@media only screen and (max-width: 474px) {
  .carrousel__images img {
    width: 250px;
    height: 180px;
  }
}

@media only screen and (max-width: 438px) {
  .carrousel__images img {
    width: 200px;
    height: 150px;
  }

  .arrow-btn {
    padding: 5px 7px;
    margin: 0 2rem;
  }
}

@media only screen and (max-width: 350px) {
  .carrousel__images img {
    width: 150px;
    height: 100px;
  }
}
