.cursos__content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.description-cursos {
  margin-bottom: 10px;
}
.cursos__content ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.cursos__content ul li IMG {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: auto;
}

@media only screen and (max-width: 1730px) {
  .cursos__content ul li IMG {
    width: 450px;
    height: auto;
  }
}

@media only screen and (max-width: 1626px) {
  .cursos__content ul li IMG {
    width: 500px;
    height: auto;
  }
}

@media only screen and (max-width: 554px) {
  .cursos__content ul li IMG {
    width: 400px;
    height: auto;
  }
}

@media only screen and (max-width: 458px) {
  .cursos__content ul li IMG {
    width: 300px;
    height: auto;
  }
}

@media only screen and (max-width: 350px) {
  .cursos__content ul li IMG {
    width: 200px;
    height: auto;
  }
}
