footer {
  background-color: rgb(221, 214, 215);
}
footer .footer__content {
  text-align: center;
  padding: 6rem 2rem 1rem;
  max-width: 47rem;
  margin: auto;
}

footer .footer__content .footer__copyright {
  font-size: 1.4rem;
  margin-top: 10px;
}

footer .footer__content .footer__contact {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.btn {
  display: grid;
  place-items: center;
  background: #e3edf7;
  padding: 0.4em;
  border-radius: 10px;
  box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.15),
    -3px -3px 5px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  margin: 0 10px 20px 10px;
  transition: transform 0.5s;
}

.btn:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(0.5em);
}

.btn svg {
  transition: transform 0.5s;
}

.btn:hover svg {
  transform: scale(0.9);
  fill: #333333;
}

.logo {
  width: 40px;
}

.contato {
  margin-bottom: 1rem;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 4.5rem;
  color: var(--primary-color);
}

.linear {
  background: linear-gradient(-450deg, salmon, #23a6d5);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  height: 420px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (max-width: 360px) {
  .linear {
    height: 500px;
  }
}
