.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: darksalmon;
  box-shadow: rgb(0, 0, 0) 0px 8px 16px -8px, rgb(0, 0, 0) 0px -8px 16px -8px;
}

.butter {
  font-size: 50px;
}

.butter img {
  width: 70px;
}
.navbar .navbar__content {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.navbar .navbar__content .navbar__links li {
  display: inline-block;
  font-size: 21px;
  font-weight: 500;
  color: var(--primary-color);
}

.navbar .navbar__content .navbar__links li:not(:last-of-type) {
  margin-right: 0.5rem;
}

.navbar .navbar__content .navbar__links a {
  padding: 0.4rem 1rem;
  display: inline-block;
}

.navbar .navbar__content .navbar__links a:hover {
  color: #fff;
}

.navbar .navbar__content .navbar__mobile,
.navbar .navbar__content .navbar__mobile .mobile__links {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar .navbar__content .navbar__links {
    display: none;
  }

  .navbar .navbar__content .navbar__mobile {
    display: flex;
    align-items: center;
  }

  .navbar .navbar__content .navbar__mobile.active img {
    width: 3.6rem;
    height: 3.6rem;
    cursor: pointer;
  }

  .navbar .navbar__content .navbar__mobile.active .mobile__links {
    display: flex;
    flex-direction: column;
    background-color: darksalmon;
    width: 100%;
    position: absolute;
    top: 98%;
    left: 0;
    padding: 1rem 0;
    box-shadow: 0 0.4rem 0.5rem rgb(0, 0, 0, 0.1);
    z-index: 1;
  }

  .navbar .navbar__content .navbar__mobile.active .mobile__links li {
    margin-right: 0;
  }

  .navbar .navbar__content .navbar__mobile.active .mobile__links li a {
    padding: 0.3rem;
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 280px) {
  .butter img {
    width: 50px;
  }
}
