.projects {
  margin: 6rem 5rem;
  scroll-margin-top: 15rem;
}

.video {
  width: 540px;
  height: 360px;
}

.projects .projects__content {
  width: 50%;
  text-align: center;
  margin: 0 auto 6rem;
}

.projects ul li {
  background-image: url("../../assets/branco.jpg");
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 3px solid salmon;
  border-radius: 0.8rem;
  gap: 6rem;
  padding: 4rem 6rem;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.6) 0px -8px 16px -8px;
}

.projects ul li.projects__reversed-list {
  flex-direction: row-reverse;
}

.projects ul li:not(:last-of-type) {
  margin-bottom: 5rem;
}

.projects ul li .image img {
  width: 45%;
}

.projects ul li .projects__info {
  width: 45%;
}

.projects ul li .projects__info p {
  margin: 1rem 0 1rem;
}

@media only screen and (max-width: 1066px) {
  .projects__content {
    width: 80% !important;
  }
}

@media only screen and (max-width: 1135px) {
  .projects ul li,
  .projects ul li.projects__reversed-list {
    flex-direction: column;
  }

  .projects ul li .projects__info {
    width: 80%;
    justify-content: center !important;
    text-align: center !important;
  }

  .video {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 810px) {
  .projects ul li {
    padding: 0 !important;
    gap: 2rem !important;
  }

  .projects ul li .projects__info {
    width: 90% !important;
  }
}

@media only screen and (max-width: 710px) {
  .video {
    width: 440px;
    height: 260px;
  }

  .projects__content {
    width: 99% !important;
  }
}

@media only screen and (max-width: 590px) {
  .video {
    width: 400px;
    height: 220px;
  }
}

@media only screen and (max-width: 550px) {
  .video {
    width: 300px;
    height: 180px;
  }
}

@media only screen and (max-width: 450px) {
  .video {
    width: 200px;
    height: 150px;
  }

  .projects {
    margin: 2rem !important;
  }
}

.cursos {
  margin: 6rem 0 6rem 0;
  scroll-margin-top: 15rem;
  display: flex;
  justify-content: center;
}

.cursos__content {
  width: 80%;
  text-align: center;
  margin: 0 6rem;
}

@media only screen and (max-width: 2042px) {
  .cursos__content {
    width: 1750px;
  }
}

@media only screen and (max-width: 1802px) {
  .cursos__content {
    width: 1730px;
  }
}

@media only screen and (max-width: 1738px) {
  .cursos__content {
    width: 1640px;
  }
}

@media only screen and (max-width: 1626px) {
  .cursos__content {
    width: 1165px;
  }
}




@media only screen and (max-width: 1222px) {
  .cursos__content {
    width: 678px;
  }
}

@media only screen and (max-width: 678px) {
  .cursos__content {
    width: 650px;
  }
}

@media only screen and (max-width: 646px) {
  .cursos__content {
    width: 600px;
  }
}

@media only screen and (max-width: 602px) {
  .cursos__content {
    width: 540px;
  }
}

@media only screen and (max-width: 542px) {
  .cursos__content {
    width: 475px;
  }
}

@media only screen and (max-width: 474px) {
  .cursos__content {
    width: 442px;
  }

  .description {
    display: flex;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 438px) {
  .cursos__content {
    width: 350px;
  }
}

@media only screen and (max-width: 350px) {
  .cursos__content {
    width: 290px;
  }
}
