.skills {
  scroll-margin-top: 5rem;

  height: 100%;
}

.skills .skills__content {
  padding: 5rem 20px;
  text-align: center;
}

.skills .skills__content .description {
  max-width: 56rem;
  margin: 0 auto 5rem;
}

.skills .skills__content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  gap: 3rem;
  margin: auto;
}

.skills .skills__content ul li .image-container {
  background-color: aliceblue;
  padding: 0.5rem;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid salmon;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.6) 0px -8px 16px -8px;
}

.skills .skills__content ul li h3 {
  font-size: 1.6rem;
  font-weight: 900;
  margin: 1rem 0 1rem;
}
